@CHARSET "ISO-8859-1";
.col1-layout{
	display:flex;	
	flex-direction:column;
	width:100%;
	border:1px solid green;
	overflow:auto;
}
.main{
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content:center;
	border:1px solid red;
}
.col-main{
	display:flex;
	flex-direction:column;
	width:100%;
	height:500px;
	justify-content:flex-start;
	border:1px solid yellow;	
}
.std{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	border:1px solid purple;
}
.flexslider{
	width:60%;
	height:300px;
}
/*
.slides{
	width:100%;
	height:100%;
}
*/
.flexImage{
	width:100%;	
}
