@CHARSET "ISO-8859-1";
.col1-layout{
	display:flex;	
	flex-direction:column;
	width:100%;
	border:1px solid green;
		
}
.main{
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content:flex-start;
	border:1px solid red;
}
.flexslider{
	width:50%;
	height:200px;
}
.slides{
	width:100%;
	height:100%;
}
.flexImage{
	width:80%;
	height:50%;
}
