@CHARSET "ISO-8859-1";
.footer-container{
	display:flex;
	flex-direction: column;
	width:100%;
}
.footer-container .footer{
	display:flex;
	flex-direction: column;
	background: rgb(255,255,255);
	width:100%;	
	
}
.footer-container .footer ul, .footer-container .footer .links{
	display:flex;
	flex-direction:column;
	list-style:none;
	border-radius: 5px;
	width:90%;
	background: rgb(240,240,240);
	margin: 10px 0px;
	align-items:center;
}
.footer-container .footer > ul > li, .footer-container .footer  > .links > li{
	display:flex;
	flex:1;
	flex-direction:column;
}
.footer-container .footer > ul > li > a, .footer-container .footer > .links > li > a{
	display:flex;
	width:100%;
	color: #000000;
}