@CHARSET "ISO-8859-1";
.footer-container{
	display:flex;
	flex-direction: column;
	width:100%;
}
.footer-container .footer{
	display:flex;
	flex-direction: column;
	background: rgb(255,255,255);
	width:100%;	
	align-items:center;	
}
.footer-container > .footer > ul{
	display:flex;
	flex-direction:row;
	list-style:none;
	border-radius: 5px;
	width:90%;
	background: rgb(240,240,240);
	margin: 1% 0%;	
	height:auto;
}
.footer-container > .footer > ul > li{
	display:flex;
	flex:1;
	flex-direction:column;
	background:#1E7EC8;		
}
.footer-container > .footer > ul > li > a{
	display:flex;
	width:100%;
	color: #000000;
	padding: 10px 0%;	
	justify-content:center;	
	text-decoration:none;
	height:auto;
	border:1px solid red;
	
}