@CHARSET "ISO-8859-1";
.header-container{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	width:100%;
	/*border:2px solid black;*/
	/*margin:0% auto;*/
}
.header{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	width:100%;
	/*border:1px solid black;*/
	/*margin:0% auto;*/
	/*box-shadow: 3px 0px 5px rgba(0,0,0,1.0),-3px 0px 5px rgba(0,0,0,1.0);*/
}
.quick-access{
	display:flex;
	flex-direction:row;
	width:100%;	
	justify-content:flex-end;
}
.logo{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	/*width:1000px;*/	
	/*border:2px solid black;*/
	margin:0% auto;
	aligh-items:flex-start;
	width:100%;	
}
.logo strong{
	/*border: 1px solid red;*/
	color: rgb(109,201,34);
	text-align:center;	
	width:21%;
	text-shadow: 2px 2px #000000;
}
#logoImg1{
	width: 21%;
	height:100px;
	/*border:1px solid red;*/
}
#search_mini_form{
	display:flex;
	flex-direction:row;
}
.form-search{
	display:flex;
	flex-direction:row;
	height:25px;	
	margin-right:2%;
	margin-top:1%;
}
.links{	
	list-style:none;
	display:flex;
	flex-direction:row;
	height:25px;	
	margin:0%;
	padding:0%;
	margin-right:1%;
	margin-top:0.5%;
	width:33%;	
}
.links li{
	padding:0%;
	margin-right:2%;		
}
.links li.last{	
	margin-right:0%;
}
.links li > a{
	width:100%;
	color:#000000;
}
/*Top Navigation */
.nav-container{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	width:100%;
	/*border:1px solid black;*/
	margin:0% auto;
	/*height:100px;*/	
	/*box-shadow: 3px 0px 5px rgba(0,0,0,1.0),-3px 0px 5px rgba(0,0,0,1.0);*/
	/*border: 1px solid red;*/	
}
#nav{
	display:flex;
	flex-direction:row;
	list-style:none;
	justify-content:flex-start;	
	border:1px solid blue;		
	/*box-shadow: 3px 0px 5px rgba(0,0,0,1.0),-3px 0px 5px rgba(0,0,0,1.0);*/		
}
#nav li a{
	width:100%;
	color:#FFFFFF;
	background:rgb(109,201,34);
	padding:3px 10px 3px 10px;	
	text-decoration:none;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}
.first{
	border-left: 1px solid #000000;	
}
/*.header-container { border-top:5px solid #0d2131; border-bottom:1px solid #415966; background:url(../images/bkg_header.jpg) 50% 0 repeat; }*/