@CHARSET "ISO-8859-1";
body{
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, rgb(247,250,249)),
		color-stop(1, rgb(109,201,34))
	);
	font-family: Tahoma;
}
.hjkhjpage{
	display:flex;
	flex-direction:vertical;
	align-items:center;
	width:1000px;
	border:2px solid black;
	margin:0px auto;
}