@CHARSET "ISO-8859-1";
body{
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, rgb(247,250,249)),
		color-stop(1, rgb(109,201,34))
	);
	font-family: Tahoma;
}
.header-container{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	width:1000px;
	border:2px solid black;
	margin:0px auto;
}
.header{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	width:1000px;
	border:2px solid black;
	margin:0px auto;
}
.quick-access{
	display:flex;
	flex-direction:row;
	width:1000px;
	
}
.logo{
	display:flex;
	flex-direction:column;
	/*align-items:center;*/
	/*width:1000px;*/	
	/*border:2px solid black;*/
	margin:0px auto;
	flex-align:start;
}
#logoImg1{
	width: 200px;
	height:100px;
}
.links{
	list-style:none;
	display:flex;
	flex-direction:row;
}
/*.header-container { border-top:5px solid #0d2131; border-bottom:1px solid #415966; background:url(../images/bkg_header.jpg) 50% 0 repeat; }*/