@CHARSET "ISO-8859-1";
.page-title{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#checkoutSteps{
	display:block;
	flex-direction:column;
	margin:0%;
	padding:0%;
	align-items:flex-start;
	list-style:none;
}
#checkoutSteps > li {
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border-top:2px dotted #000000;
}
#checkoutSteps > li > .step-title{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
#checkoutSteps > li > .step-title > a,
#checkoutSteps > li > .step-title > span{
	display:none;	
}
#checkoutSteps > li > .step-title > h2{
	text-decoration:underline;
}
#checkoutSteps > li > .step.a-item{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
#checkoutSteps > li > .step.a-item > .col2-set,
#checkoutSteps > li > .step.a-item > .col2-set > .col-1{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .form-list{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:lower-greek;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .form-list > li.control{
	display:flex;
	flex-direction:column;
	list-style:lower-latin;
			
}


/*
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul.form-list{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:none;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul.form-list > li{
	display:flex;
	flex-direction:row;
	margin:0%;
	padding:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border-top:1px dashed #000000;
	margin-top:1%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style: none;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset ul > li{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset ul > li > label > em{
	color: red;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > .buttons-set{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;	
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set > button,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > .buttons-set > button{
	width:15%;
}
*/
/*
#checkoutSteps > #opc-login:first-child{
	border-top:none;
}
*/