@CHARSET "ISO-8859-1";
.page-title{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#checkoutSteps{
	display:block;
	flex-direction:column;
	margin:0%;
	padding:0%;
	align-items:flex-start;
	list-style:none;
}
#checkoutSteps > li {
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border-top:2px dotted #000000;
}
#checkoutSteps > li > .step-title{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
#checkoutSteps > li > .step-title > a,
#checkoutSteps > li > .step-title > span{
	display:none;	
}
#checkoutSteps > li > .step-title > h2{
	text-decoration:underline;
}
#checkoutSteps > li > .step.a-item{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
/*
#checkoutSteps > #opc-login:first-child{
	border-top:none;
}
*/