@CHARSET "ISO-8859-1";
.page-title{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#checkoutSteps{
	display:block;
	flex-direction:column;
	margin:0%;
	padding:0%;
	align-items:flex-start;
	list-style:none;
}
#checkoutSteps > li {
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border-top:2px dotted #000000;
}
#checkoutSteps > li > .step-title{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
#checkoutSteps > li > .step-title > a/*,
#checkoutSteps > li > .step-title > span*/{
	display:none;	
}
#checkoutSteps > li > .step-title > h2{
	text-decoration:underline;
}
#checkoutSteps > li > .step.a-item{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	margin-left:1%;	
}
#checkoutSteps > li > .step.a-item > .col2-set,
#checkoutSteps > li > .step.a-item > .col2-set > .col-1{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:none;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul > li{
		
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul.ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:square;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > ul.ul li{	
	margin-left:4%;	
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;	
	margin-top:1%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > h3{
	display:flex;
	flex-direction:column;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset{
	margin-left:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset > ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:armenian;
}

#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset ul > li{	
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;	
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > form > fieldset ul > li > label > em{
	color: red;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > .buttons-set{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;	
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set{
	align-items:center;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set > p,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > .buttons-set > p{
	margin:0%;
	padding:0%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set > button,
#checkoutSteps > li > .step.a-item > .col2-set > .col-2 > .buttons-set > button{
	width:15%;
}
#checkoutSteps > li > .step.a-item > .col2-set > .col-1 > .buttons-set > button{
	height:30px;
}
/*
#checkoutSteps > #opc-login:first-child{
	border-top:none;
}
*/
/*-------------------------------BILLING Section-------------------------------------------------------------*/
#checkout-step-billing > form,
#checkout-step-billing > form > fieldset{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
}
#checkout-step-billing > form > fieldset ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	list-style:lower-greek;
	margin-left: 2%;
	border:none;
	
}
#checkout-step-billing > form > fieldset ul:first-child{
	border:1px solid #000000;
}
#checkout-step-billing > form > fieldset ul > li{
	display: list-item;
}
#checkout-step-billing > form > fieldset ul > li > fieldset{	
	display:flex;
	flex-direction:column;	
	margin:0%;
	padding:0%;
	border:none;	
}
#checkout-step-billing > form > fieldset ul > li > fieldset > ul{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
	list-style:square;
}
#checkout-step-billing > form > fieldset ul > li > fieldset > ul > li{
	display:list-item;
	margin:0%;
	padding:0%;
	border:none;
	list-style:katakana;
}

