@CHARSET "ISO-8859-1";
.category-products{
	display:block;
	border:1px solid #000000;
	width:100%;	
}
.products-grid{
	display: block;
	border:1px solid red;
}
.category-products .item{
	display:block;
	/*float:left;*/
	border:1px solid red;
}
.category-products .toolbar{	
	display:block;
	border:1px solid red;
}
.category-products .toolbar-bottom{	
	display:block;
	border:1px solid red;
}
