@CHARSET "ISO-8859-1";
.category-products{
	display:flex;
	border:1px solid #000000;
	width:100%;	
}
/*Hide top toolbar(amount of items, show x/page, view as, sort by)*/
.category-products .toolbar{
	visibility:hidden;
}
/*Show toolbar only at bottom*/
.category-products .toolbar-bottom{
	visibility:visible;
	display:block;
}
.category-products .item{
	display:block;
	float:left;
	border:1px solid red;

}