@CHARSET "ISO-8859-1";
.product-view{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
	border:1px solid #000000;
}
.product-view .product-essential, .product-view .product-collateral{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	border:none;
}
.product-view .product-essential > form{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	/*border:1px solid red;*/
}
.product-view .product-essential > form .product-shop{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	/*border:1px solid green;*/
	align-items:center;
}

.product-view .product-essential > form .product-shop .product-name, 
.product-view .product-essential > form .product-shop .no-rating,
.product-view .product-essential > form .product-shop .availability.in-stock,
.product-view .product-essential > form .product-shop .price-box{
	display:flex;
	flex-direction:column;
	margin-top:5px;
	padding:0%;	
	border:1px solid blue;
}
.product-view .product-essential > form .product-shop .product-name > h1,
.product-view .product-essential > form .product-shop .no-rating > a,
.product-view .product-essential > form .product-shop .price-box > span{
	display:flex;
	flex-direction:row;	
}
.product-view .product-essential > form .product-shop .email-friend{
	display:none;	
	margin:0%;
	padding:0%;	
}
.product-view .product-essential > form .product-shop .add-to-box{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top:5px;	
}
.product-view .product-essential > form .product-shop .add-to-box .or{
	display:none;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-links{
	display:flex;
	flex-direction:column;
	border:1px solid #000000;
	list-style:none;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-links li{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0%;
	padding:0%;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-links li a{
	text-align: center;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-links .separator{
	display:none;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-cart{
	display:flex;
	flex-direction:row;
	justify-content:center;	
	margin:0%;
	padding:0%;
}
.product-view .product-essential > form .product-shop .add-to-box .add-to-cart button{
	border-radius: 5px;
}
.product-view .product-essential > form .product-shop .short-description{
	border-top:2px dotted #000000;
	display:flex;
	flex-direction:column;
	margin:none;
	margin-top:5px;
	overflow:auto;
	min-height: 300px;
}
.product-view .product-essential > form .product-shop .short-description h2{
	margin:none;
	padding-left:2%;
}
.product-view .product-essential > form .product-img-box{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
}
.product-view .product-essential > form .product-img-box .product-image,
.product-view .product-essential > form .product-img-box .more-views h2{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	align-items:center;
}
.product-view .product-essential > form .product-img-box .more-views > ul{
	display:flex;
	flex-direction:row;
	list-style: none;
	margin:0% 0.5%;
	padding:0% 0.5%;
}
.product-view .product-collateral .box-collateral.box-description{
	display:flex;
	flex-direction:column;	
	border-top:2px dashed #000000;
}
.product-view .product-collateral .box-collateral.box-description h2{
	display:flex;
	flex-direction:column;	
	margin:none;
	padding:none;
	padding-left:2%;
}
.product-view .product-collateral .box-collateral.box-description .std{
	display:flex;
	flex-direction:column;	
	margin:none;
	padding:none;
	overflow:auto;
	min-height: 300px;	
}