<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<MarcusRonnang_Layout>
			<version>0.0.1</version>
		</MarcusRonnang_Layout>		
	</modules>
	<models>
		<marcusronnang_layout_model>
			<class>Layout_Model</class>
		</marcusronnang_layout_model>
	</models>
	<!-- we are making changes to the frontend -->
	<frontend>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<marcusronnang_layout_observer>
						<type>singleton</type>
						<class>MarcusRonnang_Layout_Model_Observer</class>
						<method>addToTopmenu</method>
					</marcusronnang_layout_observer>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
		<!-- we are making changes to the layout -->
		<layout>			
			<!-- we are adding a new update file -->
			<updates>
				<!-- This child node name must be unique throughout Magento -->
				<marcusronnang_layout_update 
					module="MarcusRonnang_Layout">
					<!-- the name of the layout file we are adding -->
					<file>marcusronnang_layout.xml</file>
				</marcusronnang_layout_update>
			</updates>
		</layout>
		<routers>
			<marcusronnang_layout>
				<use>standard</use>
                <args>
                    <module>MarcusRonnang_Layout</module>
                    <frontName>marcusronnang_layout</frontName>
                </args>
			</marcusronnang_layout>
		</routers>
	</frontend>
	<!-- we are adding a new block definition -->	
	<global>		
		<blocks>
			<!-- A unique short name for our block files -->		
			<marcusronnang_layout_block>
				<!-- The location of our modules blocks-->
				<class>MarcusRonnang_Layout_Block</class>		
			</marcusronnang_layout_block>			
			<page>
				<rewrite>
					<html_topmenu>MarcusRonnang_Layout_Block_Topmenu</html_topmenu>
				</rewrite>
			</page>			
			<!-->
			<test123>
				<class>MarcusRonnang_Layout_Block</class>
			</test123>
			-->						
		</blocks>
	</global>	
</config>
