<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<MarcusRonnang_Layout>
			<version>0.0.1</version>
		</MarcusRonnang_Layout>
	</modules>
	<models>
		<layout>
			<class>MarcusRonnang_Layout_Model</class>
		</layout>
	</models>
	<!-- we are making changes to the frontend -->
	<frontend>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<layout>
						<type>singleton</type>
						<class>modelLocation/Observer</class>
						<method>addToTopmenu</method>
					</layout>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
		<!-- we are making changes to the layout -->
		<layout>			
			<!-- we are adding a new update file -->
			<updates>
				<!-- This child node name must be unique throughout Magento -->
				<layout 
					module="MarcusRonnang_Layout">
					<!-- the name of the layout file we are adding -->
					<file>marcusronnang_layout.xml</file>
				</layout>
			</updates>
		</layout>
	</frontend>
	<!-- we are adding a new block definition -->	
	<global>		
		<blocks>
			<!-- A unique short name for our block files -->		
			<layout>
				<!-- The location of our modules blocks-->
				<class>MarcusRonnang_Layout_Block</class>		
			</layout>			
			<page>
				<rewrite>
					<html_topmenu>MarcusRonnang_Layout_Block_Topmenu</html_topmenu>
				</rewrite>
			</page>			
			<!-->
			<test123>
				<class>MarcusRonnang_Layout_Block</class>
			</test123>
			-->						
		</blocks>
	</global>	
</config>
