@CHARSET "ISO-8859-1";
.cart{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;
}
.cart .page-title.title-buttons{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.cart .page-title.title-buttons ul.checkout-types{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;
	list-style: none;
}
.cart .page-title.title-buttons ul.checkout-types li{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;
	align-items:center;	
}
.cart > form{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;		
}
.cart > form > fieldset{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;		
}
.cart > form > fieldset > table{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;		
}
.cart > form > fieldset > table thead,
.cart > form > fieldset > table tbody,
.cart > form > fieldset > table tfoot{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;	
}
.cart > form > fieldset > table thead tr,
.cart > form > fieldset > table tbody tr,
.cart > form > fieldset > table tfoot tr{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:row;	
}
.cart > form > fieldset > table thead tr td, .cart > form > fieldset > table tbody tr td{
	margin:0%;
	padding:0%;
	display:flex;
	flex-direction:column;
	width:1%;
	flex:1;	
	border:1px solid #000000;
	justify-content:center;
	align-items:center;
}
.cart > form > fieldset > table tfoot tr td{
	display:flex;
	flex-direction:row
	justify-content: center;
	align-items:center;
	border:1px solid green;	
	margin:0%;
	padding:0%;
	width:100%;
}
